node_modules/
dist/
coverage/
playwright-report/
test-results/
.env
.env.local
.env.production
*.zip
**/.terraform/
**terraform.tfstate
**terraform.tfstate.backup
**/.terraform.lock.hcl
*.tfvars
!*.tfvars.example
